@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }

  body {
    @apply text-gray-900;
  }

  input[type="date"],
  input[type="time"] {
    @apply appearance-none;
  }
}

@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

  }
}

/* Фикс горизонтального смещения на мобильных */
html, body {
  overflow-x: hidden;
  max-width: 100%;
}

img, svg, canvas, video {
  max-width: 100%;
}

/* Скрываем нативные стрелки у числовых полей (на случай если где-то осталось) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}












